APScheduler==3.6.3
attrs==20.3.0
certifi==2020.12.5
chardet==3.0.4
coverage==5.3
cycler==0.10.0
discordwebhook==1.0.0
idna==2.10
iniconfig==1.1.1
kiwisolver==1.3.1
linenotipy==1.0.2
matplotlib==3.3.3
numpy==1.19.4
packaging==20.7
pandas==1.1.4
Pillow==8.1.1
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.1.2
pytest-cov==2.10.1
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.0
six==1.15.0
slack-webhook==1.0.4
toml==0.10.2
tzlocal==2.1
urllib3==1.26.2
